<p id="notice"><%= notice %></p>

<%= link_to "Request Page", rider_requests_path(@rider) %>

<h1><td><%= @rider.first_name %> <%= @rider.last_name %>'s </td> Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Queue Position</th>
	  <th> Request Status</th>
      <th>Request Id</th>
      <th>Driver Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @queued_assignments.each do |assignment| %>
      <tr>
	    <td><%= assignment.queue_pos %></td>
        <td><%= Request.find_by(request_id: assignment.request_id).request_status %></td>
        <td><%= assignment.request_id %></td>
        <td><%= assignment.driver_id %></td>
        <td><%= link_to 'Show', assignment %></td>
      </tr>
    <% end %>
	
	<% @other_assignments.each do |assignment| %>
      <tr>
	    <td><%= assignment.queue_pos %></td>
        <td><%= Request.find_by(request_id: assignment.request_id).request_status %></td>
        <td><%= assignment.request_id %></td>
        <td><%= assignment.driver_id %></td>
        <td><%= link_to 'Show', assignment %></td>
      </tr>
    <% end %>
  </tbody>
</table>