<%= form_with(model: assignment) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
        <% assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :request_id %>
    <%= form.select :request_id, @valid_requests.map { |request| [request.request_id] }, include_blank: true, id:"id_of_the_request_id_select_box" %>
  </div>

  <div class="field">
    <%= form.label :car_id %>
    <%= form.text_field :car_id %>
  </div>

  <div class="actions">
    <%= form.submit class: "green button small-margins" %>
  </div>
<% end %>
