<h1 class="title">Phone Room</h1>

<p id="notice"><%= notice %></p>

<div class="horiz-container hide-on-mobile-only">
  <%= link_to "Incoming", requests_incoming_path, :class => "grey button small-margins" %>
  <%= link_to "Waiting (#{Request.waiting})", requests_waiting_path, :class => "grey button small-margins" %>
  <%= link_to "Riding (#{Request.riding})", assignments_riding_path, :class => "grey button small-margins" %>
  <%= link_to "Done (#{Request.done}Dn #{Request.missed}Msd #{Request.cancelled}Cncld)", assignments_done_path, :class => "green wide button small-margins" %>
</div>

<div class="view-table hide-on-mobile-only">
  <table>
    <thead>
      <tr>
        <th colspan="2">Actions</th>
        <th>Status</th>
        <th>Car</th>
        <th>Notes</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Pick Up Location</th>
        <th>Drop Off Location</th>
        <th>Time Waited</th>
        <th>Time Rode</th>
        <th>Home At</th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
	    <% assignment = Assignment.find_by_request_id(request.request_id) %>
        <% if assignment %>
          <tr>
            <td class="b-cell"><%= link_to 'Edit Request', edit_request_path(request), :class => "grey table button" %></td>
		        <td class="b-cell"><%= link_to 'Edit Car', edit_request_path(request), :class => "grey table button" %></td>
            <td><%= request.request_status %></td>
            <td><%= assignment.car_id %></td>
            <td><%= assignment.notes %></td>
            <td><%= request.name %></td>
            <td><%= request.phone_number %></td>
            <td><%= request.pick_up_loc %></td>
            <td><%= request.drop_off_loc %></td>
            <td><%= time_diff(request, assignment) %></td>
            <td><%= time_rode(assignment) %></td>
            <td><%= time_home(assignment) %></td>
          </tr>
        <% else %>
           <tr>
            <td class="b-cell"><%= link_to 'Edit Request', edit_request_path(request), :class => "grey table button" %></td>
		        <td class="b-cell"><%= link_to 'Edit Car', edit_request_path(request), :class => "grey table button" %></td>
            <td><%= request.request_status %></td>
            <td></td>
            <td></td>
            <td><%= request.name %></td>
            <td><%= request.phone_number %></td>
            <td><%= request.pick_up_loc %></td>
            <td><%= request.drop_off_loc %></td>
            <td><%= time_cancelled(request) %></td>
            <td></td>
            <td></td>
          </tr>
		<% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="show-on-mobile-only">
  <div class="horiz card">
    <p>
      This page is designed to work on desktop devices only. <br>
      Please try again on a non-mobile device.
    </p>
  </div>
</div>