<p id="notice"><%= notice %></p>

<div class="card small">
  <!-- The div below is used to get rid of the spacing between the text -->
  <div class="top-margins">
    <p> If nothing appears, double-check that the name and phone number were inputted correctly </p>
    <p> Otherwise, no request has been made under this information yet </p>
    <%= render 'assignments/form_rider', request: @request %>
  </div>
</div>

<br><br>

<h1>Waiting Room</h1>
<div class="view-table">
  <table>
    <thead>
      <tr>
        <th colspan="2">Actions</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Pick Up Location</th>
        <th>Drop Off Location</th>
        <th>Num of Passengers</th>
        <th>Additional Info</th>
        <th>Time Waited</th>
      </tr>
    </thead>

    <tbody>
      <% @requests_waiting.each do |request| %>
        <tr>
          <td><%= link_to 'Edit', edit_request_path(request), :class => "grey table button" %></td>
          <td><%= button_to 'Cancel', request_cancel_path(request), data: { confirm: 'Are you sure?' }, :class => "dark-red table button" %></td>
          <td><%= request.name %></td>
          <td><%= request.phone_number %></td>
          <td><%= request.pick_up_loc %></td>
          <td><%= request.drop_off_loc %></td>
          <td><%= request.num_passengers %></td>
          <td><%= request.additional_info %></td>
          <td><%= time_waiting(request) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br><br>

<h1>Riding Room</h1>
<div class="view-table">
  <table>
    <thead>
      <tr>
        <th colspan="1">Actions</th>
        <th>Car</th>
        <th>Notes</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Pick Up Location</th>
        <th>Drop Off Location</th>
        <th>Num of Passengers</th>
        <th>Additional Info</th>
        <th>Time Waited</th>
      </tr>
    </thead>

    <tbody>
      <% @requests_riding.each do |request| %>
        <% assignment = Assignment.find_by_request_id(request.request_id) %>
        <tr>
          <td><%= button_to 'Cancel', request_cancel_path(request), data: { confirm: 'Are you sure?' }, :class => "dark-red table button" %></td>
          <td><%= assignment.car_id %></td>
          <td><%= assignment.notes %></td>
          <td><%= request.name %></td>
          <td><%= request.phone_number %></td>
          <td><%= request.pick_up_loc %></td>
          <td><%= request.drop_off_loc %></td>
          <td><%= request.num_passengers %></td>
          <td><%= request.additional_info %></td>
          <td><%= time_waiting(assignment) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br><br>

<h1>Done Room</h1>
<div class="view-table">
  <table>
    <thead>
      <tr>
        <th>Status</th>
        <th>Car</th>
        <th>Notes</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Pick Up Location</th>
        <th>Drop Off Location</th>
        <th>Time Waited</th>
        <th>Time Rode</th>
        <th>Home At</th>
      </tr>
    </thead>

    <tbody>
      <% @requests_done.each do |request| %>
	    <% assignment = Assignment.find_by_request_id(request.request_id) %>
        <% if assignment %>
          <tr>
            <td><%= request.request_status %></td>
            <td><%= assignment.car_id %></td>
            <td><%= assignment.notes %></td>
            <td><%= request.name %></td>
            <td><%= request.phone_number %></td>
            <td><%= request.pick_up_loc %></td>
            <td><%= request.drop_off_loc %></td>
            <td><%= time_diff(request, assignment) %></td>
            <td><%= time_rode(assignment) %></td>
            <td><%= time_home(assignment) %></td>
          </tr>
        <% else %>
           <tr>
            <td><%= request.request_status %></td>
            <td></td>
            <td></td>
            <td><%= request.name %></td>
            <td><%= request.phone_number %></td>
            <td><%= request.pick_up_loc %></td>
            <td><%= request.drop_off_loc %></td>
            <td><%= time_cancelled(request) %></td>
            <td></td>
            <td></td>
          </tr>
		<% end %>
      <% end %>
    </tbody>
  </table>
</div>

<br><br><br>