<p id="notice"><%= notice %></p>

<div class="horiz-container">
  <%= link_to "Incoming", requests_incoming_path, :class => "grey button small-margins" %>
  <%= link_to "Waiting", requests_waiting_path, :class => "grey button small-margins" %>
  <%= link_to "Riding", assignments_riding_path, :class => "grey button small-margins" %>
  <%= link_to "Done", assignments_done_path, :class => "grey button small-margins" %>
</div>

<h1>Riding Room</h1>