<p id="notice"><%= notice %></p>

<p>
  <strong>Assignment:</strong>
  <%= @assignment.assignment_id %>
</p>

<p>
  <strong>Request:</strong>
  <%= @assignment.request_id %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @assignment.driver_id %>
</p>

<p>
  <strong>Driver notes:</strong>
  <%= @assignment.driver_notes %>
</p>

<p>
  <strong>Pick up time:</strong>
  <%= @assignment.pick_up_time %>
</p>

<p>
  <strong>Drop off time:</strong>
  <%= @assignment.drop_off_time %>
</p>

<p>
  <strong>Queue pos:</strong>
  <%= @assignment.queue_pos %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
