<h1 class="title">Assignments</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @assignment.request_id %>
</p>

<p>
  <strong>Car:</strong>
  <%= @assignment.car_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @assignment.notes %>
</p>

<p>
  <strong>Pick Up Time:</strong>
  <%= @assignment.pick_up_time %>
</p>

<p>
  <strong>Drop Off Time:</strong>
  <%= @assignment.drop_off_time %>
</p>

<% if not current_member %>
  <%= link_to 'Go To Queue', root_path %>
<% else %>
  <%= link_to 'Edit', edit_assignment_path(@request) %>
  <%= link_to 'Back To Requests', requests_path %>
  <%= link_to 'Back To Assignments', assignments_path %>
<% end %>
