<p id="notice"><%= notice %></p>

<p>
  <strong>Request Status:</strong>
  <%= @request.request_status %>
</p>

<p>
  <strong>Request:</strong>
  <%= @assignment.request_id %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @assignment.driver_id %>
</p>

<p>
  <strong>Driver notes:</strong>
  <%= @assignment.driver_notes %>
</p>

<p>
  <strong>Pick Up Time:</strong>
  <%= @assignment.pick_up_time %>
</p>

<p>
  <strong>Drop Off Time:</strong>
  <%= @assignment.drop_off_time %>
</p>

<p>
  <strong>Queue Position:</strong>
  <%= @assignment.queue_pos %>
</p>

<%= link_to 'Edit', edit_assignment_path(@request) %>
<% if not current_member %>
	<%= link_to 'Back To Requests', rider_requests_path(@rider) %>
	<%= link_to 'Back To Assignments', rider_assignments_path(@rider) %>
<% else %>
	<%= link_to 'Back To Requests', requests_path %>
	<%= link_to 'Back To Assignments', assignments_path %>
<% end %>
