<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Started</th>
      <th>Ended</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ndrs.each do |ndr| %>
      <tr>
        <td><%= ndr.ndr_id %></td>
        <td><%= ndr.start_date_time %></td>
        <td><%= ndr.end_date_time %></td>
        <td><%= button_to 'View', ndr, :method => :get %>
        <%= button_to 'Edit', edit_ndr_path(ndr), :method => :get %>
        <%= button_to 'Delete', ndr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>