<%= form_with(model: ndr) do |form| %>
    <% if ndr.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(ndr.errors.count, "error") %> prohibited this ndr from being saved:</h2>

        <ul>
          <% ndr.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="horiz-container">
      <div class="vert-container centered">
        <h2>Start</h2>
        <div class="field centered">
          <%= form.label :start_time, "Date" %>
          <div class="field row date">
            <%= form.date_select :start_time, ignore_time: true, order: [:month, :day, :year], start_year: Date.today.year, end_year: Date.today.year + 4 %>
          </div>
        </div>

        <div class="field centered">
          <%= form.label :start_time, "Time"  %>
          <div class="field row date">
            <%= form.time_select :start_time, ignore_date: true, ampm: true, time_seperator: ""  %>
          </div>
        </div>
      </div>
      
      <div class="vert-container centered">
        <h2>End</h2>
        <div class="field centered">
          <%= form.label :end_time, "Date"  %>
          <div class="field row date">
          <%= form.date_select :end_time, ignore_time: true, order: [:month, :day, :year], start_year: Date.today.year, end_year: Date.today.year + 4  %>
          </div>
        </div>

        <div class="field centered">
          <%= form.label :end_time, "Time"  %>
          <div class="field row date">
            <%= form.time_select :end_time, ignore_date: true, ampm: true, time_seperator: ''%>
          </div>
        </div>
      </div>
    </div>

    <br><br>

    <div class="vert-container">
      <div class="field wide">
        <%= form.label :num_members_desired, "How many members need to attend?"  %>
        <div class="field row wide left-justified">
          <%= form.text_field :num_members_desired %>
        </div>
      </div>

      <div class="field horiz-container row wide spaced">
        <%= form.label :is_active, "Start Now?"  %>
        <%= form.check_box :is_active %>
      </div>

      <div class="field horiz-container row wide spaced">
        <%= form.label :dues_restrict, "Restrict Members with active dues?"  %>
        <%= form.check_box :dues_restrict %>
      </div>

      <div class="field horiz-container row wide spaced">
        <%= form.label :training_restrict, "Restrict Members without training?"  %>
        <%= form.check_box :training_restrict %>
      </div>
    </div>

    <br><br>

    <div class="actions">
      <%= form.submit class: "green button" %>
    </div>
    

<% end %>
