

<div class="card" id="home-card">
    <h1>CARPOOL HOME</h1>
    <br><br>
    <p>
        Click the link below to submit a new ride request
    </p>
    <%= link_to 'Request a Ride', new_request_path, :class => "green-button large" %>
</div>

    <!--Temporary Login and Logout -->
    <% if current_member %>
        <h2><%= current_member.email %></h2>
        <%= link_to "Assigned Rider", member_rider_info_path %>
        <br>
        <%= link_to "Edit Account", edit_member_registration_path %>
        <br>
        <%= button_to "Logout", destroy_member_session_path, data: {turbo: "false"}, method: :delete %>
    <% else %>
        <div class="horiz-container small-margins">
            <%= link_to "Login", new_member_session_path, :class => "grey-button small-margins" %>
            <%= link_to "Create Account", new_member_registration_path, :class => "grey-button small-margins" %>
        </div>
    <% end %>

<div class="horiz-container">
    <%= link_to "Create Rider Autofill", new_rider_path, :class => "grey-button small-margins" %>
</div>
<%= form_tag(search_path, method: :get) do %>
	<%= label_tag "Enter first name:" %>
	<%= text_field_tag(:search_first_name, params[:search_first_name]) %>
	
	<%= label_tag "Enter last name:" %>
	<%= text_field_tag(:search_last_name, params[:search_last_name]) %>
	
	<%= submit_tag ("Search for Rider Autofill") %>
<% end %>