<h1 class="title">Home</h1>

<div class="card">
    <div class="centered card-item">
        <p>Need a Ride? Click the button below.</p>
        <%= link_to 'Request a Ride', new_request_path, :class => "green button large large-text" %>
    </div>

    <hr>

    <div class="card-item">
        <%= render 'assignments/form_rider', request: @request %>
    </div>
</div>

<% if current_member %>
    <div class="horiz-container">
        <%= link_to "Drivers", drivers_path, :class => "grey button small-margins" %>
        <%= link_to "Cars", cars_path, :class => "grey button small-margins" %>
    </div>
<% else %>
    <div class="centered">
        <br><br>
        <p class=""> Are you a CARPOOL member?</p>
        <%= link_to "LOGIN", new_member_session_path, :class => "grey button" %>
        
        <div>
            <p> Don't have an account yet? <%= link_to "Sign Up", new_member_registration_path, class: "link" %> </p>
        </div>
    </div>
<% end %>

