<%= form_with(model: request) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rider_id %>
    <%= form.select :rider_id, @riders.map { |rider| [(rider.last_name + ', ' + rider.first_name), rider.rider_id] }, include_blank: true, id:"rider_select_box" %>
  </div>

  <div class="field">
    <%= form.label :date_time %>
    <%= form.datetime_select :date_time %>
  </div>

  <div class="field">
    <%= form.label :pick_up_loc %>
    <%= form.text_field :pick_up_loc %>
  </div>

  <div class="field">
    <%= form.label :num_passengers %>
    <%= form.text_field :num_passengers %>
  </div>

  <div class="field">
    <%= form.label :additional_info %>
    <%= form.text_field :additional_info %>
  </div>

  <br>

  <div class="actions">
      <%= form.submit class: "green button small-margins" %>
  </div>
<% end %>
