<h1 class="title">Editing Request</h1>

<% if current_member %>
  <div class="horiz-container">
    <%= link_to "Incoming", requests_incoming_path, :class => "grey button small-margins" %>
    <%= link_to "Waiting (#{Request.waiting})", requests_waiting_path, :class => "grey button small-margins" %>
    <%= link_to "Riding (#{Request.riding})", assignments_riding_path, :class => "grey button small-margins" %>
    <%= link_to "Done (#{Request.done}Dn #{Request.missed}Msd #{Request.cancelled}Cncld)", assignments_done_path, :class => "grey wide button small-margins" %>
  </div>
<% end %>

<h1>Editing Request</h1>

<%= render 'form', request: @request %>

<%= link_to 'Back', :back, class: "grey button" %>
