<div class="horiz-container">
  <%= link_to "Incoming", requests_incoming_path, :class => "grey button small-margins" %>
  <%= link_to "Waiting", requests_waiting_path, :class => "grey button small-margins" %>
  <%= link_to "Riding", assignments_riding_path, :class => "grey button small-margins" %>
  <%= link_to "Done", assignments_done_path, :class => "grey button small-margins" %>
</div>

<div class="small card">
  <br>
    <h2 class="urgent-green">Instructions</h2>
    <p>
      <ul>
        <li>Answer the phone "Howdy, CARPOOL" and begin asking the questions once the patron has asked for a ride</li>
        <li>If it gets too loud to hear in the phone room, tell the execs to BE QUIET!</li>
        <li>If someone calls asking to be taken home to Traditions (apts by NG), then ask them what building they live in, who their RA is and explain that we don't take people to bars if you suspect they just want a ride to NG.</li>
        <li>If someone calls asking to be taken home to Traditions (apts by NG), then ask them what building they live in, who their RA is and explain that we don't take people to bars if you suspect they just want a ride to NG.</li>
        <li>If someone calls from NG and the Herschels haven't left yet (10pm-11:30pm), please take their information</li>
        <li>If someone calls from NG when the Herschels are there, then instruct them to go see the people in Lime Green Shirts.</li>
        <li>If you have ANY questions, please ask an exec or the DIC.</li>
        <li>HAVE FUN!</li>
      </ul>
  </p>  
</div>

<br>

<h1>Request a Ride</h1>
<%= render 'form', request: @request %>
<%= link_to 'Back', :back, class: "grey button" %>

<br><br><br>