<p id="notice"><%= notice %></p>

<!--Temporary Login and Logout -->
<% if current_member %>
<h2><%= current_member.email %></h2>
<%= link_to "Edit Account", edit_member_registration_path %>
<%= button_to "Logout", destroy_member_session_path, data: {turbo: "false"}, method: :delete %>
<% else %>
<%= link_to "Login", new_member_session_path %>
<%= link_to "Create Account", new_member_registration_path %>
<% end %>

<h1>Requests</h1>

<table>
  <thead>
    <tr>
      <th>Rider</th>
	  <th>Status</th>
      <th>Time</th>
      <th>Pick Up Location</th>
      <th>Drop Off Location</th>
      <th>Num of Passengers</th>
      <th>Additional Info</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.rider_id %></td>
		<td><%= request.request_status %></td>
        <td><%= request.date_time %></td>
        <td><%= request.pick_up_loc %></td>
        <td><%= request.drop_off_loc %></td>
        <td><%= request.num_passengers %></td>
        <td><%= request.additional_info %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
		<td><%= link_to 'Cancel', request_cancel_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
