<p id="notice"><%= notice %></p>

<!--Temporary Login and Logout -->
<% if current_member %>
<h2><%= current_member.email %></h2>
<%= link_to "Edit Account", edit_member_registration_path %>
<%= button_to "Logout", destroy_member_session_path, data: {turbo: "false"}, method: :delete %>
<% else %>
<%= link_to "Login", new_member_session_path %>
<%= link_to "Create Account", new_member_registration_path %>
<% end %>

<h1>Requests</h1>

<table>
  <thead>
    <tr>
      <th>Request</th>
      <th>Rider</th>
      <th>Date</th>
      <th>Pick up loc</th>
      <th>Drop off loc</th>
      <th>Num passengers</th>
      <th>Attire</th>
      <th>Additional info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.rider_id %></td>
        <td><%= request.date %></td>
        <td><%= request.pick_up_loc %></td>
        <td><%= request.drop_off_loc %></td>
        <td><%= request.num_passengers %></td>
        <td><%= request.attire %></td>
        <td><%= request.additional_info %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
