<p id="notice"><%= notice %></p>

<p>
  <strong>Rider:</strong>
  <%= @request.rider_id %>
</p>

<p>
  <strong>Request Status:</strong>
  <%= @request.request_status %>
</p>

<p>
  <strong>Date and Time:</strong>
  <%= @request.date_time %>
</p>

<p>
  <strong>Pick Up Location:</strong>
  <%= @request.pick_up_loc %>
</p>

<p>
  <strong>Drop Off Location:</strong>
  <%= @request.drop_off_loc %>
</p>

<p>
  <strong>Number of Passengers:</strong>
  <%= @request.num_passengers %>
</p>

<p>
  <strong>Additional info:</strong>
  <%= @request.additional_info %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back to Requests', requests_path %> |
<%= link_to 'Back to Queue', assignments_path %>
