<p id="notice"><%= notice %></p>

<p>
  <strong>Rider:</strong>
  <%= @rider.last_name %>, <%= @rider.first_name %>
</p>

<p>
  <strong>Request Status:</strong>
  <%= @request.request_status %>
</p>

<p>
  <strong>Date and Time:</strong>
  <%= @request.date_time %>
</p>

<p>
  <strong>Pick Up Location:</strong>
  <%= @request.pick_up_loc %>
</p>

<p>
  <strong>Drop Off Location:</strong>
  <%= @rider.local_address %>
</p>

<p>
  <strong>Number of Passengers:</strong>
  <%= @request.num_passengers %>
</p>

<p>
  <strong>Additional info:</strong>
  <%= @request.additional_info %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %>
<% if not current_member %>
	<%= link_to 'Back To Requests', rider_requests_path(@rider) %>
<% else %>
	<%= link_to 'Back To Requests', requests_path %>
	<%= link_to 'Back To Assignments', assignments_path %>
<% end %>
