<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @request.phone_number %>
</p>

<p>
  <strong>Request Status:</strong>
  <%= @request.request_status %>
</p>

<p>
  <strong>Date and Time:</strong>
  <%= @request.created_at %>
</p>

<p>
  <strong>Pick Up Location:</strong>
  <%= @request.pick_up_loc %>
</p>

<p>
  <strong>Drop Off Location:</strong>
  <%= @request.drop_off_loc %>
</p>

<p>
  <strong>Number of Passengers:</strong>
  <%= @request.num_passengers %>
</p>

<p>
  <strong>Additional info:</strong>
  <%= @request.additional_info %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %>
<% if not current_member %>
  <%= link_to 'Go To Queue', root_path %>
<% else %>
  <%= link_to 'Back To Requests', requests_path %>
  <%= link_to 'Back To Assignments', assignments_path %>
<% end %>
