<h1 class="title">Member Overview</h1>

<br><br><br>

<div class="view-table">
<table>
    <thead>
      <tr>
        
        <th>Last Name</th>
        <th>First Name</th>
        <th>Supervisor Status</th>
        <th>Admin Status</th>
        <th colspan="2">Actions</th>


      </tr>
    </thead>

    <tbody>
        <% @yourself.each do |member| %>
        <tr>
          <td><%= member.last_name %></td>
          <td><%= member.first_name %></td>
          <td><%= member.is_supervisor %></td>
          <td><%= member.is_admin %></td>
          <td>---</td>
          <td>---</td>
        </tr>
      <% end %>

      <% @members.each do |member| %>
        <tr>
          <td><%= member.last_name %></td>
          <td><%= member.first_name %></td>
          <td><%= member.is_supervisor %></td>
          <td><%= member.is_admin %></td>
          <td class="b-cell"><%= button_to 'Toggle Supervisor', update_supervisor_member_path(member.id), class: "green table button fill"%></td>
          <td class="b-cell"><%= button_to 'Toggle Admin', update_admin_member_path(member.id), class: "blue table button fill" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>