<p id="notice"><%= notice %></p>

<h1>Riders</h1>

<table>
  <thead>
    <tr>
      <th>Rider</th>
      <th>Phone number</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Local address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @riders.each do |rider| %>
      <tr>
        <td><%= rider.rider_id %></td>
        <td><%= rider.phone_number %></td>
        <td><%= rider.first_name %></td>
        <td><%= rider.last_name %></td>
        <td><%= rider.local_address %></td>
        <td><%= link_to 'Show', rider %></td>
        <td><%= link_to 'Edit', edit_rider_path(rider) %></td>
        <td><%= link_to 'Destroy', rider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rider', new_rider_path %>
