<p id="notice"><%= notice %></p>

<h1>Search Rider</h1>

<div class="small-margins">
	<%= form_tag(search_path, method: :get) do %>
		<div class="row">
			<%= label_tag "Enter first name:" %> <%= text_field_tag(:search_first_name, params[:search_first_name]) %>
		</div>
		
		<div class="row">
			<%= label_tag "Enter last name:" %>
			<%= text_field_tag(:search_last_name, params[:search_last_name]) %>
		</div>
		
		<%= submit_tag ("Search for Rider Autofill") %>
	<% end %>
</div>
	
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
	  <th>Phone number</th>
      <th>Local address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rider.each do |rider| %>
      <tr>
        <td><%= rider.first_name %></td>
        <td><%= rider.last_name %></td>
        <td><%= rider.phone_number %></td>
        <td><%= rider.local_address %></td>
        <td><%= link_to 'Edit', edit_rider_path(rider) %></td>
		<td><%= link_to 'View Requests', rider_requests_path(rider) %></td>
		<td><%= link_to 'View Assignments', rider_assignments_path(rider) %></td>
      </tr>
    <% end %>
  </tbody>
</table>