<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @rider.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @rider.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @rider.phone_number %>
</p>

<p>
  <strong>Local address:</strong>
  <%= @rider.local_address %>
</p>

<%= link_to 'Edit', edit_rider_path(@rider) %> |
<%= link_to 'Back', riders_path %>
