<%= form_for driver, url: ndr_drivers_join_path(@ndr) do |form| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
        <% driver.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br><br>
  
  <div class="horiz-container">
    <div class="field centered">
      <h3 class="green-text"><%= form.label :member_id, 'Member Name:' %></h3>
      <%= form.hidden_field :member_id, value: current_member.member_id %>
      <h2><%= @member.first_name %> <%= @member.last_name %></h2>
    </div>
    
    <div class="field centered">
      <h3 class="green-text"><%= form.label :ndr_id, 'NDR Start:' %></h3>
      <%= form.hidden_field :ndr_id, value: @ndr.ndr_id %>
      <h2><%= @ndr.start_time.strftime("%D - %I:%M%p") %></h2>
    </div>

    <div class="field centered">
      <h3 class="green-text"><%= form.label :ndr_id, 'NDR End:' %></h3>
      <h2><%= @ndr.end_time.strftime("%D - %I:%M%p") %></h2>
    </div>
  </div>

  <br><br>

  

  <div class="actions">
    <%= form.submit "Confirm Sign-Up", class: "green button small-margins" %>
  </div>
<% end %>