<h1 class="title">Drivers on <%= @ndr&.start_time&.strftime('%d/%m/%Y') + " - " + @ndr&.end_time&.strftime('%d/%m/%Y') %> </h1>

<p id="notice"><%= notice %></p>

<div class="horiz-container hide-on-mobile-only">
  <%= link_to "Cars", cars_list_path(:ndr_id => @ndr.ndr_id), :class => "grey button small-margins" %>
  <%= link_to "Drivers", drivers_list_path(:ndr_id => @ndr.ndr_id), :class => "green button small-margins" %>
  <%= link_to "Requests", requests_list_path(:ndr_id => @ndr.ndr_id), :class => "grey button small-margins" %>
</div>

<div class="view-table hide-on-mobile-only">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Assigned Car</th>
        <th>Check-in Status</th>
        <th>Duration Since</th>
        <% if current_member.is_supervisor%>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @drivers&.each do |driver| %>
        <% member = Member.find_by(member_id: driver.member_id) %>
        <% car = Car.find_by(car_id: driver&.car_id) %>
        <td><%= member&.first_name + " " + member&.last_name%></td>
        <td><%= member&.phone %></td>
        <% if !car.nil?%>
          <td><%= "#" + car.car_id.to_s + " " + car.color + " " + car.make + " " + car.model%></td>
        <% else %>
          <td>Not Assigned</td>
          <!--<td class="b-cell"><%= link_to 'Assign', {}, :class => "green table button" %></td>%>-->
        <% end %>
        <td><%= driver&.driver_status %></td>
        <% if !driver.check_in_time.nil? %>
          <td><%= (((DateTime.now.to_time - driver.check_in_time.to_time) % 3600) /60).to_i %> minutes </td>
        <% else %>
          <td> </td>
        <% end %>
        <% if current_member.is_supervisor %>
          <td class="b-cell"><%= link_to 'Edit', edit_driver_path(driver), :class => "dark-grey table button" %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Add Driver", new_driver_path(:ndr_id => @ndr.ndr_id), :class => "blue button small-margins" %>

<div class="show-on-mobile-only">
  <div class="horiz card">
    <p>
      This page is designed to work on desktop devices only. <br>
      Please try again on a non-mobile device.
    </p>
  </div>
</div>