<h1 class="title">Cars</h1>

<p id="notice"><%= notice %></p>

<br><br>

<div class="view-table">
  <table>
    <thead>
      <tr>
        <th colspan="2">Actions</th>
        <th>Color</th>
        <th>Make</th>
        <th>Model</th>
        <th>Plate Number</th>
        <th>Registration Expiry</th>
      </tr>
    </thead>

    
    <tbody>
      <% @cars.each do |car| %>
        <tr>
          <td class="b-cell"><%= link_to 'Edit', edit_car_path(car), class: "orange table button" %></td>
          <td class="b-cell"><%= link_to 'Delete', car, method: :delete, data: { confirm: 'Are you sure?' }, class: "dark-red table button" %></td>
          <td><%= car.color %></td>
          <td><%= car.make %></td>
          <td><%= car.model %></td>
          <td><%= car.plate_number %></td>
          <td><%= car.registration_expiry %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br><br><br>

<%= link_to 'New Car', new_car_path, class: "green button" %>

<br>

<%= link_to 'Back', :back, class: "grey button" %>
