<h1 class="title">Cars on <%= @ndr&.start_time&.strftime('%d/%m/%Y %H:%M') %> </h1>

<p id="notice"><%= notice %></p>

<div class="horiz-container hide-on-mobile-only">

</div>

<div class="view-table hide-on-mobile-only">
  <table>
    <thead>
      <tr>
        <th colspan="4">Actions</th>
        <th>Car</th>
        <th>Color</th>
        <th>Make</th>
        <th>Model</th>
        <th>Plate Number</th>
        <th>Registration Expiry</th>
        <th>Assigned Drivers</th>
      </tr>
    </thead>

    <tbody>
      <% @cars.each do |car| %>
        <% driver1 = Driver.find_by(ndr_id: @ndr.ndr_id, car_id: car.car_id) %>
        <% driver2 = Driver.find_by(ndr_id: @ndr.ndr_id, car_id: car.car_id) %>
        <tr>
          <td> <%= car.car_id %> </td>
          <td> <%= car.color %> </td>
          <td> <%= car.make %> </td>
          <td> <%= car.model %> </td>
          <td> <%= car.plate_number %> </td>
          <td> <%= car.registration_expiry %> </td>
          <td> <%= car.registration_expiry %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="show-on-mobile-only">
  <div class="horiz card">
    <p>
      This page is designed to work on desktop devices only. <br>
      Please try again on a non-mobile device.
    </p>
  </div>
</div>