<!DOCTYPE html>
<html>
  <head>
    <title>Carpool Request Service</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %> <%#, 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %> <%#, 'data-turbolinks-track': 'reload' %>

    
      <div class="header-bar" id="header-bar">

        <div class="left-side">
          <div class="current-member left-side">
            <div class="admin-options">
              <% if current_member and !current_member.is_supervisor %> 
                <%= link_to "Phone Room", requests_incoming_path %>
                <%= link_to "Assigned Rider", member_rider_info_path %>
                <%= link_to "NDR", ndrs_path %>
                <%= link_to "Driver Statuses", drivers_path %>
              <% end %>
              <% if current_member and !current_member.is_admin%>
                <%= link_to "Admin", whitelists_path %>
              <% end %>
            </div>
          </div>
        </div>


        <div class="middle">
          <%= link_to root_path do %>
            <div class="logo" id="logo"></div>
            <h1 class="carpool-logo-text" id="carpool-logo-text">CARPOOL</h1>
          <% end %>
        </div>
        

        
        <div class="current-member right-side">
          <% if current_member %>
            <h2><%= current_member.email %></h2>

            <div class="member-options">
              <%= link_to "Edit Account", edit_member_registration_path %>
              <%= link_to 'Check In', drivers_checkin_path %>
              <%= button_to "Logout", destroy_member_session_path, :class => "logout", data: {turbo: "false"}, method: :delete %>
            </div>

            <div class="mobile-admin-options">
              <% if current_member and !current_member.is_supervisor%> 
                <%= link_to "Phone Room", requests_incoming_path %>
                <%= link_to "Assigned Rider", member_rider_info_path %>
                <%= link_to "NDR", ndrs_path %>
                <%= link_to "Driver Statuses", drivers_path %>
              <% end %>

              <% if current_member and !current_member.is_admin%>
                <%= link_to "Admin", whitelists_path %>
              <% end %>
            </div>  
          <% end %>
        </div>
        


          <%# Mobile Menu %>
        <% if current_member %>
          <div class="mobile-menu">
            <div class="arrow">▼</div>
            <div>Menu</div>
          </div>
        <% end %>
      </div>
  </head>
  

  <body>
    <%= yield %>
  </body>
</html>